*.pdf
*.png
/NRF/nRF5_SDK_17.1.0_ddde560/components
/NRF/nRF5_SDK_17.1.0_ddde560/config
/NRF/nRF5_SDK_17.1.0_ddde560/examples/802_15_4
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ant
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_central
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_central_and_peripheral
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_beacon
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_blinky
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_bms
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_bps
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_buttonless_dfu
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_cscs
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_cts_c
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_eddystone
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_gatts_c
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_gls
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_hids_keyboard
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_hids_mouse
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_hrs
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_hrs_freertos
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_hts
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_ias_c
/NRF/nRF5_SDK_17.1.0_ddde560/external
/STM/USB_DEVICE
/STM/Middlewares
/STM/Drivers
/STM/Debug
*.md
/NRF/s140_nrf52_7.2.0_API
/NRF/nRF5_SDK_17.1.0_ddde560/modules
/NRF/nRF5_SDK_17.1.0_ddde560/integration
/NRF/nRF5_SDK_17.1.0_ddde560/examples/proprietary_rf
/NRF/nRF5_SDK_17.1.0_ddde560/examples/peripheral/usbd_msc
/NRF/nRF5_SDK_17.1.0_ddde560/examples/peripheral/usbd_hid_generic
/NRF/nRF5_SDK_17.1.0_ddde560/examples/peripheral/usbd_ble_uart_freertos
/NRF/nRF5_SDK_17.1.0_ddde560/examples/peripheral/usbd_cdc_acm
/NRF/nRF5_SDK_17.1.0_ddde560/examples/peripheral/usbd_hid_composite
/NRF/nRF5_SDK_17.1.0_ddde560/examples/peripheral/wdt
/NRF/nRF5_SDK_17.1.0_ddde560/examples/peripheral/usbd
/NRF/nRF5_SDK_17.1.0_ddde560/examples/peripheral/usbd_audio
/NRF/nRF5_SDK_17.1.0_ddde560/examples/peripheral/uart
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_alert_notification
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_ancs_c
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_ipsp_acceptor
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_proximity
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_pwr_profiling
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_rscs
*.rar
NRF/ble_app_uart_pca10056_s140.emProject - Shortcut.lnk
*.html
*.txt
*.jpg
/NRF/nRF5_SDK_17.1.0_ddde560/examples/ble_peripheral/ble_app_template
/NRF/nRF5_SDK_17.1.0_ddde560/examples
/NRF/nRF5_SDK_17.1.0_ddde560/App/ble_app_uart/hex
/NRF/nRF5_SDK_17.1.0_ddde560/external_tools
NRF/nRF5_SDK_17.1.0_ddde560/nRF_MDK_8_40_3_IAR_BSDLicense.msi
*.zip
